name: Deploy through git
on: [push]
jobs:
  build-and-deploy:
    env:
      GIT_EMAIL: abgaoe@gmail.com
      GIT_USERNAME: skeltonmod
      REPO_URL: schoolaborate.864xju3e3vylxu2a@deploy.us1.frbit.com:schoolaborate.git
      REPO_BRANCH: main

    runs-on: ubuntu-latest

    steps:
    # This will pull the github repository to the current pipeline
    - uses: actions/checkout@v1

    # This will automatically set up ssh with our private key
    - uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: '${{ secrets.SSH_PRIVATE_KEY }}'

    # Use the version of Node.js you need
    - name: Use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        node-version: 10.x

    # If you need node dependencies and to build some js/css
    - name: npm install and build
      run: |
        npm ci
        npm run <your-build-script>

    # If so, you can then remove the source assets folder
    - name: Remove the source assets files
      run: 'rm -Rf <your-assets-source-folder>'

    - name: Configure Git
      # The local git needs a user to be configured to commit & push
      run: |
        git config user.email $GIT_EMAIL
        git config user.name $GIT_USERNAME

    - name: Commit everything (with new built assets)
      # You can also specifically "git add public/your/path"
      run: |
        git checkout $REPO_BRANCH
        git add -A
        git commit -m "Build $($CURRENT_DATE_TIME)"
      env:
        CURRENT_DATE_TIME: "date +%Y-%m-%d:%H-%M"

    - name: deploy
      run: |
        git push --force $REPO_URL
      env:
        # This avoids a failure when the client does not know the SSH Host already
        GIT_SSH_COMMAND: "ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
